extends layout

block content
  p.h5.my-4 Hello&nbsp;
    span#username
    | &nbsp;!
  div
    table.table
      thead
        tr
          th タイトル
      tbody#data_container
        tr
          td 読み込み中...
  form(onsubmit="return false")
    .mb-3
      label.form-label(for="title") タイトル
      input#title.form-control(type="text" name="title")
    .mb-3
      label.form-label(for="text") Markdown ソース
      textarea#text.form-control(name="text" rows="8")
    button#action.btn.btn-primary.m-2(type="button") 送信

  .card.mt-4
    .card-header.text-center.h5 Preview
    .card-body
      #content
block javascript
  script(src="/javascripts/client.js")
